
<ons-page modifier="menu-page" ng-controller="MenuController">
    <ons-toolbar modifier="transparent"></ons-toolbar>

    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('movies_nav.html', {closeMenu: true})">
            <ons-icon icon="fa-film"></ons-icon>
            Phim đang chiếu
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('theaters_nav.html', {closeMenu: true})">
            <ons-icon icon="fa-building"></ons-icon>
            Danh sách rạp
        </ons-list-item>
    </ons-list>

    <br>

    <ons-list class="bottom-menu-list">

        <ons-list-item id="set-city-btn" class="bottom-menu-item" ng-click="varSelectCity.show();">
            <ons-icon icon="fa-map-marker"></ons-icon>
            Cài đặt thành phố
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="refreshData()">
            <ons-icon icon="fa-refresh"></ons-icon>
            Cập nhật dữ liệu
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="varAbout.show()">
            <ons-icon icon="fa-info-circle"></ons-icon>
            Giới thiệu
        </ons-list-item>
    </ons-list>


</ons-page>