<ons-page ng-controller="MovieListController">
    <ons-toolbar>
        <div class="left" onclick="menu.toggleMenu()">
            <ons-toolbar-button>
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Phim đang chiếu</div>
        <div class="right">
            <ons-toolbar-button ng-click="toggleSearch()">
                <ons-icon icon="fa-search"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="navigation-bar" ng-hide="!openSearch">
        <div class="navigation-bar__center">

            <input focus-me="{{openSearch}}" type="search" ng-model="searchTerm" class="search-input"
                   style="width: 96%; margin: 6px auto 6px auto;" placeholder="Tìm kiếm">

        </div>
    </div>
    <p id="loading-holder" class="placeholder" ng-class="{hidden:isLoaded}">
        <img src="img/loading-spin.svg"/>
    </p>

    <div class="list-filter">
        <div class="filter">
            <ons-button id="btn-cinema-filter" ng-click="varSelectCinema.show()">
                <i class="fa fa-chevron-right"></i> {{selectedCinema}}
            </ons-button>
        </div>
        <div class="filter">
            <ons-button id="button" ng-click="varSelectTheater.show()">
                <i class="fa fa-chevron-right"></i> {{selectedTheater}}
            </ons-button>
        </div>
    </div>

    <ons-list>
        <ons-list-item ng-repeat="movieItem in movieItems"
                       modifier="chevron" class="list-item-container"
                       ng-click="showDetail(movieItem.name)"
                       ng-hide="!searchFilter(movieItem.name, searchTerm)">
            <ons-row>
                <ons-col width="95px">
                    <img ng-src="{{movieItem.poster}}" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        {{movieItem.name}}
                    </div>
                    <div class="show-date">
                        <i class="fa fa-building"></i> {{movieItem.sessions | theaterNames}}
                    </div>
                    <div class="desc">
                        {{movieItem.description}}
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-modal var="varSelectCinema" ng-click="varSelectCinema.hide()"
               ng-controller="CinemaSelectController">
        <ons-list>
            <ons-list-item modifier="tappable"
                           ng-click="selectCinema(defaultCinema)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="cinema" ng-checked="selectedCinema == defaultCinema">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{defaultCinema}}
                </label>
            </ons-list-item>
            <ons-list-item modifier="tappable"
                           ng-repeat="item in cinemaItems"
                           ng-click="selectCinema(item)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="cinema" ng-checked="item == selectedCinema">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{item}}
                </label>
            </ons-list-item>

        </ons-list>
    </ons-modal>

    <ons-modal var="varSelectTheater" ng-click="varSelectTheater.hide()"
               ng-controller="TheaterSelectController">
        <ons-list>
            <ons-list-item modifier="tappable"
                           ng-click="selectTheater(defaultTheater)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="theater" ng-checked="selectedTheater == defaultTheater">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{defaultTheater}}
                </label>
            </ons-list-item>
            <ons-list-item modifier="tappable"
                           ng-repeat="item in theaterItems"
                           ng-click="selectTheater(item)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="theater" ng-checked="item == selectedTheater">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{item}}
                </label>
            </ons-list-item>

        </ons-list>
    </ons-modal>
</ons-page>