<ons-page ng-controller="TheaterListController">
    <ons-toolbar>
        <div class="left" onclick="menu.toggleMenu()">
            <ons-toolbar-button>
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Danh sách rạp</div>
    </ons-toolbar>

    <div class="list-filter">
        <div class="filter">
            <ons-button id="button" ng-click="varSelectCinema2.show()">
                <i class="fa fa-chevron-right"></i> {{selectedCinema2}}
            </ons-button>
        </div>
        <div class="filter">
            <ons-button id="button" ng-click="varSelectMovie.show()">
                <i class="fa fa-chevron-right"></i> {{selectedMovie}}
            </ons-button>
        </div>
    </div>

    <p id="loading-holder" class="placeholder" ng-class="{hidden:isLoaded}">
        <img src="img/loading-spin.svg"/>
    </p>

    <ons-list>
        <ons-list-item ng-repeat="theaterItem in theaterItems"
                       modifier="chevron" class="list-item-container"
                       ng-click="showDetail(theaterItem.name)">
            <ons-row>
                <ons-col width="95px">
                    <img ng-src="{{theaterItem.image}}" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        {{theaterItem.name}}
                    </div>
                    <div class="show-date">
                        <i class="fa fa-location-arrow"></i> {{theaterItem.address}}
                    </div>
                    <div class="desc">
                        {{theaterItem.description}}
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-modal var="varSelectCinema2" ng-click="varSelectCinema2.hide()"
               ng-controller="Cinema2SelectController">
        <ons-list>
            <ons-list-item modifier="tappable"
                           ng-click="selectCinema2(defaultCinema2)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="cinema2" ng-checked="selectedCinema2 == defaultCinema2">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{defaultCinema2}}
                </label>
            </ons-list-item>
            <ons-list-item modifier="tappable"
                           ng-repeat="item in cinemaItems2"
                           ng-click="selectCinema2(item)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="cinema2" ng-checked="item == selectedCinema2">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{item}}
                </label>
            </ons-list-item>

        </ons-list>
    </ons-modal>

    <ons-modal var="varSelectMovie" ng-click="varSelectMovie.hide()"
               ng-controller="MovieSelectController">
        <ons-list>
            <ons-list-item modifier="tappable"
                           ng-click="selectMovie(defaultMovie)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="movie" ng-checked="selectedMovie == defaultMovie">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{defaultMovie}}
                </label>
            </ons-list-item>
            <ons-list-item modifier="tappable"
                           ng-repeat="item in movieItems"
                           ng-click="selectMovie(item)">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="movie" ng-checked="item == selectedMovie">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{item}}
                </label>
            </ons-list-item>

        </ons-list>
    </ons-modal>
</ons-page>