<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Lịch Chiếu Phim Tổng Hợp</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" href="styles/menu.css"/>
    <link rel="stylesheet" href="styles/movie-list.css"/>
    <link rel="stylesheet" href="styles/movie-detail.css"/>
    <link rel="stylesheet" href="styles/movie-detail-sessions.css"/>
    <link rel="stylesheet" href="styles/utils.css"/>
    <link rel="stylesheet" href="styles/about.css"/>

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <!--<script src="lib/jquery.js"></script>-->

    <script src="cordova.js"></script>

    <script src="js/GlobalUtils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MovieListController.js"></script>
    <script src="js/MovieDetailController.js"></script>
    <script src="js/TheaterListController.js"></script>
    <script src="js/TheaterDetailController.js"></script>
    <script src="js/CinemaSelectController.js"></script>
    <script src="js/TheaterSelectController.js"></script>
    <script src="js/MenuController.js"></script>
    <script src="js/CitySelectController.js"></script>
    <script src="js/MovieSelectController.js"></script>
    <script src="js/Cinema2SelectController.js"></script>
    <script src="js/AngularAdd.js"></script>
    <script src="js/DataService.js"></script>
    <script src="js/DataSession.js"></script>

</head>
<body ng-controller="AppController">

<ons-sliding-menu
        var="menu"
        main-page="movies_nav.html"
        menu-page="views/menu.html"
        max-slide-distance="250px"
        side="left">
</ons-sliding-menu>
<ons-template id="movies_nav.html">
    <ons-navigator var="navMovies" page="views/movies.html">
    </ons-navigator>
</ons-template>

<ons-template id="theaters_nav.html">
    <ons-navigator var="navTheater" page="views/theaters.html">
    </ons-navigator>
</ons-template>

<ons-modal id="city-select" var="varSelectCity"  ng-controller="CitySelectController"
           ng-click="hideSelectCity($event)">
    <div class="city-select">
    <ons-list>

        <ons-list-header>Cài đặt thành phố</ons-list-header>

        <ons-list-item modifier="tappable" ng-repeat="city in cities"
                ng-click="selectCity(city)">
            <label class="radio-button radio-button--list-item">
                <input type="radio" name="city" ng-checked="city == currentCity">
                <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                {{city}}
            </label>
        </ons-list-item>

    </ons-list>
    <br/>
    <ons-button id="button" ng-click="saveSelection()">
        Lưu lại
    </ons-button>
    </div>
</ons-modal>
<ons-modal var="varAbout"
           ng-click="varAbout.hide()">
    <div id="about-dialog">
        <h1>Ứng dụng tra cứu lịch chiếu phim</h1>
        <div>
            Tác giả:
            <ul>
                <li>Đinh Quang Trung</li>
                <li>Nguyễn Ngọc Thanh Hải</li>
                <li>Phạm Thị Thu Hoà</li>
            </ul>
        </div>
        <p>
            Liên hệ: <span style="color: blue;">http://fb.com/trungdq88</span>
        </p>
    </div>
</ons-modal>
</body>
</html>
