<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dqt.app.movie.showtimes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lịch Chiếu Phim</name>
    <description>
        Tra cứu lịch chiếu phim toàn quốc
    </description>
    <author email="trungdq88@gmail.com" href="http://dinhquangtrung.net">
        Trung Dinh Quang
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreen" value="www/res/splashscreen_portrait.png" />
    <preference name="SplashScreenDelay" value="10000" />
    <!--
        IMPORTANT: in order to make these plugin work, you must install it via cli:
        Ex: cordova plugin add org.apache.cordova.splashscreen
    -->
    <!--<gap:plugin name="org.apache.cordova.battery-status" />-->
    <!--<gap:plugin name="org.apache.cordova.camera" />-->
    <!--<gap:plugin name="org.apache.cordova.media-capture" />-->
    <!--<gap:plugin name="org.apache.cordova.console" />-->
    <!--<gap:plugin name="org.apache.cordova.contacts" />-->
    <!--<gap:plugin name="org.apache.cordova.device" />-->
    <!--<gap:plugin name="org.apache.cordova.device-motion" />-->
    <!--<gap:plugin name="org.apache.cordova.device-orientation" />-->
    <!--<gap:plugin name="org.apache.cordova.dialogs" />-->
    <!--<gap:plugin name="org.apache.cordova.file" />-->
    <!--<gap:plugin name="org.apache.cordova.file-transfer" />-->
    <!--<gap:plugin name="org.apache.cordova.geolocation" />-->
    <!--<gap:plugin name="org.apache.cordova.globalization" />-->
    <!--<gap:plugin name="org.apache.cordova.inappbrowser" />-->
    <!--<gap:plugin name="org.apache.cordova.media" />-->
    <!--<gap:plugin name="org.apache.cordova.network-information" />-->
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <!--<gap:plugin name="org.apache.cordova.vibration" />-->
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon.png" />
    <icon gap:platform="ios" height="40" src="www/res/icon.png" width="40" />
    <icon gap:platform="ios" height="50" src="www/res/icon.png" width="50" />
    <icon gap:platform="ios" height="80" src="www/res/icon.png" width="80" />
    <icon gap:platform="ios" height="100" src="www/res/icon.png" width="100" />
    <icon gap:platform="ios" height="57" src="www/res/icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/res/icon.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/res/icon.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/res/icon.png" width="144" />
    <icon gap:platform="ios" height="76" src="www/res/icon.png" width="76" />
    <icon gap:platform="ios" height="152" src="www/res/icon.png" width="152" />
    <gap:splash src="splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/splashscreen_portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/splashscreen_portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/splashscreen_portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/splashscreen_portrait.png" />

    <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="www/res/splashscreen_landscape.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="www/res/splashscreen_landscape.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="www/res/splashscreen_landscape.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="www/res/splashscreen_landscape.png" />

    <gap:splash gap:platform="ios" width="320"  height="480" src="res/splash.png" />
    <gap:splash gap:platform="ios" width="640"  height="960" src="res/splash.png" />
    <gap:splash gap:platform="ios" width="640"  height="1136" src="res/splash.png" />
    <gap:splash gap:platform="ios" width="768"  height="1024" src="res/splash.png" />
    <gap:splash gap:platform="ios" width="1024"  height="768" src="res/splash.png" />
    <access origin="*" />
</widget>
