<ons-page>
    <div class="card"
         ng-style="{'background-image': 'url({{theater.image}})'}">
    </div>
    <ons-list style="border-top: none">
        <ons-list-item style="line-height: 1; padding: 0;">
            <ons-row class="action" ng-click="openMap()" ng-hide="!theater.map_link">
                <ons-col class="action-col">
                    <div class="action-icon">
                        <ons-icon icon="fa-map-marker"></ons-icon>
                    </div>
                    <div class="action-label">Xem bản đồ</div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <div class="movie-description">
        <h1>{{theater.name}}</h1>

        <div class="movie-prop">
            {{theater.address}}
        </div>
        <div class="movie-prop">
            {{theater.description}}
        </div>

    </div>
</ons-page>