<ons-page ng-controller="TheaterDetailControllerTitle">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Quay lại</ons-back-button>
        </div>
        <div class="center">{{theater.name}}</div>
    </ons-toolbar>
    <ons-tabbar var="movieDetailTab">
        <ons-tab page="views/theater_detail/sessions.html" icon="fa-calendar" label="Lịch chiếu" active="true">
        </ons-tab>
        <ons-tab page="views/theater_detail/info.html" icon="fa-info-circle" label="Thông tin rạp">
        </ons-tab>
    </ons-tabbar>
</ons-page>