<ons-page ng-controller="MovieDetailControllerInfo">
    <div class="card"
         style="background-image: url(http://components.onsen.io/patterns/images/sushi-bg.jpg)">
    </div>

    <ons-list style="border-top: none">
        <ons-list-item style="line-height: 1; padding: 0;">
            <ons-row class="action">

                <ons-col class="action-col">
                    <div class="action-icon">
                        <ons-icon icon="ion-ios7-star-half"></ons-icon>
                    </div>
                    <div class="action-label">Rate</div>
                </ons-col>

                <ons-col class="action-col">
                    <div class="action-icon">
                        <ons-icon icon="ion-bookmark"></ons-icon>
                    </div>
                    <div class="action-label">Favorite</div>
                </ons-col>

                <ons-col class="action-col">
                    <div class="action-icon">
                        <ons-icon icon="ion-share"></ons-icon>
                    </div>
                    <div class="action-label">Share</div>
                </ons-col>

                <ons-col class="action-col">
                    <div class="action-icon">
                        <ons-icon icon="fa-play-circle"></ons-icon>
                    </div>
                    <div class="action-label">Trailer</div>
                </ons-col>

            </ons-row>
        </ons-list-item>
    </ons-list>

    <div class="movie-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci pretium, varius ipsum ut, ullamcorper magna. Duis quis condimentum libero. Nulla vitae magna arcu. Etiam convallis in sapien eget accumsan. Morbi non lacus vitae tortor imperdiet condimentum. Vestibulum condimentum erat at leo faucibus ullamcorper. Fusce maximus odio placerat lacus congue consequat. Etiam varius lorem ipsum, sed sagittis est vestibulum eget. Mauris eros ex, tempor et enim quis, elementum elementum justo.
    </div>
    <ons-list style="margin-top: 12px;">
        <ons-list-item modifier="chevron">
            <div class="prop-desc">
                <ons-icon icon="fa-map-marker"></ons-icon>
                2-15-13 Hongo Bunkyo Tokyo
            </div>
        </ons-list-item>

        <ons-list-item modifier="chevron">
            <div class="prop-desc">
                <ons-icon icon="fa-mobile"></ons-icon>
                (111) 123-4567
            </div>
        </ons-list-item>

        <ons-list-item modifier="chevron">
            <div class="prop-desc">
                <ons-icon icon="fa-book"></ons-icon>
                Store Photos and Menus
            </div>
        </ons-list-item>

        <ons-list-item modifier="chevron">
            <div class="prop-desc">
                <ons-icon icon="fa-clock-o"></ons-icon>
                Make a Reservation
            </div>
        </ons-list-item>
    </ons-list>
</ons-page>