<ons-page>
    <div class="navigation-bar">
        <div class="navigation-bar__center">

            <!-- segment control -->
            <div class="button-bar" style="width:300px; margin:8px auto 0;">
                <div class="button-bar__item"
                     ng-hide="!isTodayAvailable"
                        ng-click="changeSession(todaySessions)">
                    <input type="radio" name="navi-segment-a" ng-checked="isTodayAvailable">

                    <div class="button-bar__button">Hôm nay</div>
                </div>
                <div class="button-bar__item"
                     ng-hide="!isTomorrowAvailable"
                     ng-click="changeSession(tomorrowSessions)">
                    <input type="radio" name="navi-segment-a" ng-checked="isTomorrowAvailable && !isTodayAvailable">

                    <div class="button-bar__button">Ngày mai</div>
                </div>
                <div class="button-bar__item"
                     ng-hide="!isLaterAvailable"
                     ng-click="changeSession(laterSessions)">
                    <input type="radio" name="navi-segment-a" ng-checked="isLaterAvailable && !isTomorrowAvailable && !isTodayAvailable">

                    <div class="button-bar__button">Sau nữa</div>
                </div>
            </div>

        </div>
    </div>

    <div class="placeholder"
         ng-hide="isTomorrowAvailable || isTodayAvailable || isLaterAvailable"
            >Hiện tại chưa có lịch chiếu</div>
    <ons-list class="plan-list">
        <ons-list-item class="plan"
                ng-repeat="session in activeSessions.sessions"
                ng-click="showSessionDetail(a)">
            <ons-row>
                <ons-col width="80px" class="plan-left">
                    <div class="plan-date">{{session.show_time | date:'hh:mm a'}}</div>
                    <div class="plan-duration">{{activeSessions.label || (session.show_time | date:"dd 'tháng' M ")}}</div>
                </ons-col>

                <ons-col width="6px" class="plan-center"
                         ng-style="{backgroundColor:$index % 2 == 1 ? 'rgba(235,94,47,0.5)' : '#ccc'}">
                </ons-col>

                <ons-col class="plan-right">
                    <div class="plan-name">{{session.theater.name}}</div>

                    <div class="plan-info">
                        <div>
                            <ons-icon icon="fa-map-marker"></ons-icon>
                            {{session.theater.address}}
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>

    </ons-list>


</ons-page>
