html {
    height: 100%;
    width: 100%;
    font-family: 'Arial';
    background: black;
    background: url(bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color: #fff;
}
.description {
    color: #ccc;
}
i.icon.restriction-icon {
    background: rgb(255, 133, 133);
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    font-size: 13px;
    text-align: center;
    margin-left: 10px;
}
.container {
    background: rgba(255, 255, 255, 0.3);
    float: left;
    width: 29%;
    margin: 10px;
    height: 80vh;
    overflow: auto;
    border-radius: 10px;
}
img.movie-poster {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.movie {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.movie a {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.movie:hover {
    background: rgba(255, 255, 255, 0.3);
}
.movie.selected {
    background: rgba(255, 255, 255, 0.6);
}
.movie.selected .description {
    color: #333;
}
.movie.selected h3 {
    color: #333; 
}
.movie h3 {
    margin: 0;
}
#nav-bar {
    color: white;
}
.nav-item {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid #fff;
}
.nav-item.selected {
    background-color: #fff;
    color: #333;
}
#caution {
    font-size: 10px;
    color: #989898;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.date {
    color: #fff;
}

#set-city {
    background: black;
    background: url(bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
}

city {
    display: inline-block;
    margin: 10px;
    font-size: 21px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px 20px;
    border-radius: 8px;
}
city:hover {
    background-color: rgba(255,255,255,0.3);
}

#movie-detail {
    position: fixed;
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}
#movie-detail h2 {
    margin: 0;
}

#search {
    padding: 9px;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
}

.close-button {
    background: #ccc;
    color: black;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}